@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Despairs;
  src: url("fonts/Despairs.ttf");
}

@font-face {
  font-family: Infynyte;
  src: url("fonts/Infynyte.otf");
}

body {
  box-sizing: border-box;
  color: white;
  margin: 0px;
  font-family: "Infynyte";
  overflow: hidden;
}

.dashed-line {
  transition: all;
  animation: expandLine 450ms cubic-bezier(0.42, 0, 0.08, 0.88) forwards;
}

.dashed-line::before {
  content: "";
  height: 5px;
  position: absolute;
  width: 5px;
  background-color: #358fe1;
  left: -5px;
  top: -2.5px;
  border-radius: 10px;
}

.dashed-line::after {
  content: "";
  height: 5px;
  position: absolute;
  width: 5px;
  background-color: #358fe1;
  right: -5px;
  top: -2.5px;
  border-radius: 10px;
}

.message-container {
  width: 100%;
  /* background-color: pink; */
  border: solid 2px #358fe1;
  position: relative;
  overflow: hidden;
  clip-path: polygon(-16% 0%, 81% -42%, 100% 28%, 100% 100%, -9% 100%, 7% 100%);
  box-sizing: border-box;
}

@keyframes expandLine {
  from {
    width: 40px;
  }

  to {
    width: 100%;
  }
}
